*{
    margin: 0;
    padding: 0;
}

#banner {
    background-color: #52357b;
    height: 80px;
    width: 100%;
}

#banner-links a:hover {
    color: rgba(255, 255, 255, .5);
}

#banner-links a{
    position: relative;
    text-decoration: none;
    color: white;
    background-color: #39255586;
    font-size: 22px;
    padding: 10px;
    margin: 10px;
    top: 30px;
    

}

#lootboxDiv {
    margin: auto;
    text-align: center;
}


#lootboxDiv button {
    margin-top: 5px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: -5px 5px 4px #648db3;
    background-color: #93e0cc;
    cursor: pointer;
}

/*
*
*52357B - purple
*5459AC - purpleish with some blue
*648DB3 - light "blue"
*B2D8CE - ligther "blue"
*
*/